<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Page | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>net ninja website</p>
        </div>
        <ul>
            <li><a href="/">blogs</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blog/create">new blog</a></li>
        </ul>
    </nav>
    <div class="blogs-content">
        <h2>All blogs</h2>
    </div>
    <div>
        <h1>about me</h1>
        <h1>salmanul faris</h1>
    </div>
</body>
</html>